*{
    margin: 0;
    padding: 0;
}
.heading{
    margin: 60px 30px;
}
span{
padding: 30px 40px;
margin: 0 30px;
border: 4px solid black;
}
#pink{
    background-color: pink;
}
#yellow{
    background-color: yellow;
}
#grey{
    background-color: grey;
}
#brown{
    background-color: brown;
}

h1{
    margin: 50px 20px
}